<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>

<table class="center table-striped">
  <caption class="panel-tittle">
    Filmes
    <div class="pull-right">
        <a routerLink="/novo"><button type="button" class="btn btn-primary">Novo</button></a>
    </div>
  </caption>

  <tr>
    <th>Código</th> <th>Filme</th> <th>Descrição</th> <th>Data</th> <th><em class="fa fa-cog"></em></th>
  </tr>
  <tr *ngFor='let filme of filmes'>
    <td>{{filme.codigo}}</td>
    <td>{{filme.nome}}</td>
    <td>{{filme.descricao}}</td>
    <td>{{filme.data | date:'dd/MM/yyyy'}}</td>
    <td>
      <button type="submit" (click)="salvarFavorito(filme)" value="Favoritar" class="btn btn-primary"><em class="fa fa-thumbs-o-up"></em></button>
      <a [routerLink]="['/edicao', filme.codigo]" class="btn btn-default"><em class="fa fa-pencil"></em></a>
      <a routerLink="/lista" (click)="remover(filme)" class="btn btn-default"><em class="fa fa-trash"></em></a>
    </td>
  </tr>
</table>