<h3>{{titulo}}</h3>
<table>
  <tr>
    <th>Código</th> <th>Filme</th> <th>Descrição</th> <th>Data</th> <th>Editar</th> <th>Remover</th>
  </tr>
  <tr *ngFor='let filme of filmes'>
    <td>{{filme.codigo}}</td>
    <td>{{filme.nome}}</td>
    <td>{{filme.descricao}}</td>
    <td>{{filme.data | date:'dd/MM/yyyy'}}</td>
    <td><a [routerLink]="['/edicao', filme.codigo]">Editar</a></td>
    <td><a routerLink="/lista" (click)="remover(filme)">Remover</a></td>
  </tr>
</table>
<a routerLink="/novo">Novo Filme</a>
