<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>

<div class="container" *ngFor='let pessoa of pessoas'>    
  <div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">  <h4>Perfil</h4></div>
      <div class="panel-body">
        <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
         <img alt="User Pic" src="http://www.iconninja.com/files/373/611/612/person-user-profile-male-man-avatar-account-icon.svg" id="profile-image1" class="img-circle img-responsive"> 
        </div>
        <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8" >
          <div class="container">
            <h2>{{pessoa.nome}} {{pessoa.sobrenome}}</h2>
          </div>
          <hr>
          <ul class="container details" >
            <li><p><span class="fa fa-user" style="width:50px;"></span>{{pessoa.nome}}</p></li>
            <li><p><span class="fa fa-user" style="width:50px;"></span>{{pessoa.email}}</p></li>
          </ul>
          <hr>
          <div class="col-sm-5 col-xs-6 tital ">Idade: {{pessoa.idade}}</div>
        </div>
      </div>
    </div>
  </div>
</div>