<nav class="navbar navbar-default" *ngFor='let pessoa of pessoas'>
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">Bem-Vindo a Filmes</span>
        </div>
        <ul class="nav navbar-nav">
            <li><a routerLink="/cadastro"><em class="fa fa-home"></em></a></li>
            <li class="dropdown" dropdown>
                <a dropdownToggle role="button">
                  Filmes <span class="caret"></span></a>
                <ul *dropdownMenu class="dropdown-menu">
                    <li><a routerLink="/novo">Novo Filme</a></li>
                    <li><a routerLink="/lista">Filmes</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" dropdown>
                <a dropdownToggle role="button">
                    <span class="glyphicon glyphicon-user"></span> 
                    <strong>{{pessoa.nome}}</strong>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
                <ul *dropdownMenu class="dropdown-menu">
                    <li>
                        <div class="navbar-login">
                            <div class="row">
                                <div class="col-lg-30">
                                    <p class="text-left" ><strong>{{pessoa.nome}} {{pessoa.sobrenome}}</strong></p>
                                    <p class="text-left small">{{pessoa.email}}</p>
                                    <p class="text-left">
                                        <a routerLink="/perfil" class="btn btn-primary btn-block btn-sm">Meu Perfil</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="navbar-login navbar-login-session">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p>
                                        <a routerLink="/cadastro" class="btn btn-danger btn-block">Encerrar Sessão</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
             </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>